@import "variables";

h1, h2, p, select, option, input, text {
  user-select: none;
  -webkit-user-select: none; /* Chrome/Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */
}

a:active, a:hover, a:visited, li.active a, a:focus {
  color: inherit;
  text-decoration: none;
  outline: none;
}

h1 {
  color: $title-color;
  font-family: $title-font;
  font-size: $title-size;
}

h2 {
  font-family: $subtitle-font;
  color: $subtitle-font-color;
  font-size: $subtitle-font-size;
}