@import "variables";

html, body {
  position: relative;
  height: 100%;
  width: 100%;
  min-height: 1000px;
  min-width: 1000px;
}

/* Resets box model */

body, div, svg, ul, h1, h2, p, text, .col-md-3, .col-md-9, .col-md-12 {
  margin: 0;
  padding: 0;
  border: 0;
}

/* Height 100% and overflow hidden */

#content_d, #visual-query-maker, #query-form, #method-form, #algorithm-output {
  overflow: hidden;
  margin: 0 auto;
  height: 100%;

}

/* Content and loader placements */

#content_d, #loader_d {
  transform: translateY(-50%);
  position: relative;
  top: 50%;
  display: block;
}

#loader_d {
  width: 20%;
  text-align: center;
  margin: auto;
}

#content_d {
  opacity: 0;
  width: 95%;
  height: 95%;
  min-height: 1000px;
  min-width: 1000px;
}

/* Main interface placements */

#upper-interface, #lower-interface {
  height: 50%;

  #add-constraints {
    text-align: center;
    margin-bottom: 1%;
    margin-left: 1%;
    margin-right: 1%;
    height: 34%
  }

  #visualize-cohort {
    text-align: center;
    margin-bottom: 1%;
    margin-left: 1%;
    margin-right: 1%;
    height: 64%
  }

  #query-graph {
    margin-bottom: 1%;
    margin-left: 1%;
    margin-right: 1%;
    height: 98%;

  }

}

select, option, input {
  background: $white;
  margin: $three-px;
  max-height: 30px;
  max-width: 200px;
  min-height: 30px;
  min-width: 50px;
  text-align: center;
}

.form {
  min-height: 50px;
}

.current {
  min-height: 35px;

  ul {
    list-style: none;
    text-align: center;
  }

  li {
    font-size: $primary-font-size;
    font-family: $primary-font;
    display: inline-block;
    border: $light-border;
    max-width: $li-width;
    padding: $li-margin;
    margin: $li-padding;
    text-align: center;
  }

  li:hover {
    background-color: $neutral-color;
  }

}

