@import "variables";

html {
  position: relative;
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
  border: 0;
  position: relative;
  height: 100%;
  width: 100%;
  font-family: $primary-font;
  font-size: $primary-font-size;
  color: $primary-font-color;
}

div {
  padding: 0;
  margin: 0;
  border: 0;
}

svg {
  border: $light-border;
  background-color: $bg-color;
  margin: 0;
  padding: 0;
}

h1 {
  color: $title-color;
  font-family: $title-font;
  font-size: $title-size;
  text-align: center;
  user-select: none;
  -webkit-user-select: none; /* Chrome/Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */
}

h2 {
  font-family: $subtitle-font;
  color: $subtitle-font-color;
  font-size: $subtitle-font-size;
  margin: 0;
  padding: 0;
  border: 0;
  user-select: none;
  -webkit-user-select: none; /* Chrome/Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */
}

ul {
  margin: 0;
  padding: 0;
  border: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

a:active, a:hover, a:visited, li.active, a:focus {
  color: $title-color;
  text-decoration: none;
  outline: none;
}

p {
  font-family: $primary-font;
  font-size: $primary-font-size;
  color: $primary-font-color;
  margin: 0;
  padding: 0;
  border: 0;
  user-select: none;
  -webkit-user-select: none; /* Chrome/Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */
}

li {
  padding: 10px;
  font-family: $primary-font;
  font-size: $primary-font-size;
  color: $primary-font-color;
}

text {
  -webkit-user-select: none; /* Chrome/Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */
}

select, option, input {
  background: $bg-color;
  border: $light-border;
  margin: $three-px;
  max-height: 30px;
  max-width: 200px;
  min-height: 30px;
  min-width: 50px;
  text-align: center;
  -webkit-user-select: none; /* Chrome/Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */
}

.col-md-4 {
  margin: 0;
  padding: 0;
  border: 0;
}

.col-md-8 {
  margin: 0;
  padding: 0;
  border: 0;
}

.form {
  min-height: 50px;
}

.current {
  min-height: 35px;

  ul {
    list-style: none;
    text-align: center;
  }

  li {
    font-size: $primary-font-size;
    font-family: $primary-font;
    display: inline-block;
    border: $light-border;
    max-width: $li-width;
    padding: $li-margin;
    margin: $li-padding;
    text-align: center;
  }

  li:hover {
    background-color: $neutral-color;
  }

}

