@import url('https://fonts.googleapis.com/css?family=Lato|Raleway|Roboto');

/* Fonts */
$title-font: 'Raleway', sans-serif;
$title-color: #212121;
$title-size: 62px;

$primary-font: 'Roboto', sans-serif;
$primary-font-color: #616161;
$primary-font-size: 10px;

$secondary-font: 'Lato', sans-serif;
$secondary-font-color: #9E9E9E;
$secondary-font-size: 10px;

$node-font-size: 16px;

/* Colors */
$bg-color: rgba(255, 255, 255, 0.9);
$secondary-color: #004D40;

/* Node Variables */
$node-color: rgb(12, 12, 14);
$selected-node-color: rgb(35, 85, 129);
$node-stroke: #202020;
$node-stroke-width: 2px;

/* Link Variables */
$stroke-link-color: #402D29;
$stroke-link-color-selected: #413F4A;
$stroke-link-width: 4px;
$stroke-link-width-selected: 6px;

/* Forms */
$form-height: 40px;
$li-width: 250px;
$li-margin: 7px;
$li-padding: 10px;
$header-color: #202020;
$light-border: solid lightgrey 1px;
$three-px: 3px 3px 3px 3px;

/* -- General Website -- */

/* Center the loader */

#loader_d {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  display: block;
  width: 700px;
  margin: auto;

}

#content_d {
  margin: 0;
  padding: 0;
  opacity: 0;
  transition: opacity 1s;
  position: relative;
  height: 100%;
  width: 100%;
}

html, body {
  position: relative;
  height: 100%;
  width: 100%;
}

body {
  font-family: $primary-font;
  background-color: $bg-color;
  margin: 0;
  padding: 0;
  border: 0;

  p {
    font-family: $primary-font;
    font-size: $primary-font-size;
    margin: 0;
    padding: 0;
    border: 0;
  }

  h1 {
    color: $title-color;
    font-family: $title-font;
    font-size: $title-size;
    text-align: center;
  }

  h2 {
    font-family: $secondary-font;
    color: $secondary-font-color;
    font-size: $secondary-font-size;
    margin: 0;
    padding: 0;
    border: 0;
  }

  button {
    margin: 0;
    padding: 0;
    min-height: 40px;
  }

  text {
    font-family: $secondary-font;
    font-size: $node-font-size;
    font-weight: 800;
    text-transform: uppercase;
    pointer-events: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  svg {
    background-color: $bg-color;
    padding: 0;
    margin: 0;
  }

  div {
    padding: 0;
    margin: 0;
  }

  ul {
    margin: 0;
    padding: 0;
  }

  #nav-menu {
    li.active a {
      background: $secondary-color;
    }
  }

  .col-md-4 {
    margin: 0;
    padding: 0;
  }

  .col-md-8 {
    margin: 0;
    padding: 0;
  }

  .form {
    min-height: $form-height;
    background-color: $bg-color;
    border: $light-border;
    margin: $three-px;

    form {
      text-align: center;
      margin: $three-px;
    }

    select {
      margin: $three-px;
    }

    select:hover {
      background-color: $secondary-color;
    }

    input {
      margin: $three-px;
      display: inline;
      background-color: $secondary-color;

    }

    .styled_form {
      background: $bg-color;
      padding: 10px 20px;
      font-size: 10px;
      margin: $three-px;
      color: #6c5c70;
      text-align: center;
      border: $light-border;
    }
  }

  .current {
    min-height: $form-height;
    background-color: $bg-color;
    border: $light-border;
    margin: $three-px;

    ul {
      list-style: none;
      text-align: center;
    }

    li {
      background-color: $secondary-color;
      font-size: $primary-font-size;
      font-family: $primary-font;
      display: inline-block;
      border: $light-border;
      color: $header-color;
      max-width: $li-width;
      padding: $li-margin;
      margin: $li-padding;
      text-align: center;

    }

    li:hover {
      background-color: $node-color;
    }

  }
}

/* - Query Menu */

#query-system {

  #query-interface-graph {
    padding: 3px 0 0 0;
    margin: 0;

    #query-menu {
      text-align: center;
      margin: 0;
      padding: 0;
      .btn {
        min-height: 15px;
      }
    }

    svg {

      display: inline;
      border: $light-border;
      margin: $three-px;

      /* nodes */

      .Tick {
        fill: $node-color;
      }

      .Node {

        position: absolute;

        .MainCircle {
          fill: $node-color;
        }

        .MainCircle:hover {
          fill: $selected-node-color;
          stroke: $node-stroke;
          stroke-width: $node-stroke-width;
        }

        .MainCircle.selected {
          fill: $selected-node-color;
          stroke: $node-stroke;
          stroke-width: $node-stroke-width;
        }

        .AddButton {
          fill: $selected-node-color;
        }
      }

      /* edges */

      .Edge {

        .Link {
          position: absolute;

          stroke: $stroke-link-color;
          stroke-width: $stroke-link-width;
        }

      }

      /* text */

      .InTextN text {
        fill: rgba(255, 255, 255, 1);
      }

      .OuTextN text {
        fill: rgba(12, 12, 14, 0.9);
      }

      .InTextE text {
        fill: rgba(12, 12, 14, 0.9);
      }

      .OuTextE text {
        fill: rgba(12, 12, 14, 0.9);
      }

    }

  }

  #forms-menu {
    height: 100%;
    background-color: $secondary-color;
    display: none;
    p {
      line-height: $form-height;
      text-align: center;
      opacity: 0.5;

    }

  }

}

/* -- Sankey -- */

#cohort-result {

  .node rect {
    fill-opacity: .9;
    shape-rendering: crispEdges;
  }

  .node text {
    pointer-events: none;
    text-shadow: 0 1px 0 #fff;
  }

  .link {
    fill: none;
    stroke: #000;
    stroke-opacity: .2;
  }

  .link:hover {
    stroke-opacity: .5;
  }
}

#cohort-edit {
  height: 100%;
  padding: 10px;
  background-color: $secondary-color;

  p {
    line-height: $form-height;
    text-align: center;
    opacity: 0.5;

  }

}
