.idea/
neo4jdb/__pycache__/
opencrab/data/output
opencrab/data/processed_data
opencrab/output/events.csv
opencrab/output/nexts.csv
opencrab/processed_data/opencrabunix_d.csv
opencrab/processed_data/opencrab_final.csv
opencrab/raw_data/opencrab.csv
opencrab/raw_data/opencrab_d.csv
parser/__init__.pyc
parser/__pycache__/
