.idea/
neo4jdb/__pycache__/
opencrab/data/output
opencrab/data/raw_data
opencrab/data/processed_data
opencrab/processed_data/opencrabunix.csv
opencrab/raw_data/opencrab.csv
parser/__init__.pyc
parser/__pycache__/
static/js/bundle.js
