/** Query Form Component **/

/* Form */

#query-interface-form {
    text-align: center;
    margin: 5px 0 5px 0;
}

/* Current node info */

#query-interface-current {
    text-align: center;
    margin: 5px 0 5px 0;

}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    display: inline-block;
    width: 200px;
    padding: 10px;
    background-color: #ffffff;
    margin: 5px;
    font-size: 14px;
    color: #6c5c70;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(43, 102, 154, 0.38);
}

li:hover {
    background-color: #aaa;
}


