/** Query Graph Component **/

#query-interface-graph {
    text-align: center;
    margin: 5px 0 5px 0;
}

#query-interface-graph svg {
    width: 900px;
    height: 350px;
}

/* nodes */

.Node {
    fill: rgba(0, 0, 0, 0.3);
}

.Node:hover {
    fill: rgba(0, 0, 0, 0.5);

}

.Node.selected {
    fill: rgba(0, 0, 0, 0.7);
}

/* edges */

.link {
    stroke: rgba(0, 0, 0, 0.3);
    fill: rgba(0, 0, 0, 0.1);;
    stroke-width: 6px;
}

.link:hover {
    stroke: rgba(0, 0, 0, 0.5);
    fill: rgba(0, 0, 0, 0.3);;
    stroke-width: 7px;
}

.selected path.link {
    stroke: rgba(0, 0, 0, 0.5);
    fill: rgba(0, 0, 0, 0.3);;
    stroke-width: 8px;
}

#end-arrow {
    stroke: #413F4A;
    fill: #413F4A;
}

/* text */

.InTextN text {
    fill: rgba(255, 255, 255, 0.7);
}

.OuTextN text {
    fill: rgba(12, 12, 14, 0.8);
}

.InTextE text {
    fill: rgba(12, 12, 14, 0.8);
}

.OuTextE text {
    fill: rgba(12, 12, 14, 0.8);
}
