/** Query Graph Component **/

#query-interface-graph {
    text-align: center;
    margin: 5px 0 5px 0;

}

#query-interface-graph svg {
    width: 900px;
    height: 500px;
}

/* nodes */

.Node {
    fill: #ABB8D8;
    -webkit-box-shadow: 0 0 67px 8px rgba(0, 0, 0, 0.10);
    -moz-box-shadow: 0 0 67px 8px rgba(0, 0, 0, 0.10);
    box-shadow: 0 0 67px 8px rgba(0, 0, 0, 0.10);
}

.Node:hover {
    stroke: #413F4A;
    stroke-width: 2px;
    stroke-dasharray: 5, 5;
}

.Node.selected {
    fill: #98869C;
    stroke-width: 2px;
    stroke: #413F4A;

}

/* edges */

.link {
    stroke: #402D29;
    stroke-width: 4px;
}

.selected path.link {
    stroke: #413F4A;
    fill: #413F4A;
    stroke-width: 6px;
}

#end-arrow {
    stroke: #413F4A;
    fill: #413F4A;
}

/* text */

.InTextN text {
    fill: rgba(255, 255, 255, 1);
}

.OuTextN text {
    fill: rgba(12, 12, 14, 0.9);
}

.InTextE text {
    fill: rgba(12, 12, 14, 0.9);
}

.OuTextE text {
    fill: rgba(12, 12, 14, 0.9);
}
