/** Query Form Component **/

/* Form */

#query-interface-form {
    text-align: center;
    margin: 5px 0 5px 0;
}

/* Current node info */

#query-interface-current {
    text-align: center;
    margin: 5px 0 5px 0;

}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    display: inline-block;
    width: 200px;
    padding: 10px;
    background-color: #ffffff;
    margin: 5px;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.8);
    border: 1px solid #d3d3d3;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

}

li:hover {
    background-color: #d3d3d3;
}


