/** Main page stuff **/

body {
    font-family: Helvetica, "Helvetica Neue", sans-serif;
    margin: 0;
    padding: 0;
    border: 0;
    background-color: rgba(255, 255, 255, 0.85);
}

h1 {
    text-align: center;
    color: rgba(0, 0, 0, 0.8);
    font-size: 50px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

h2 {
    text-align: center;
    color: rgba(0, 0, 0, 0.8);
    font-size: 20px;
    margin: 5px;
    padding: 5px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

text {
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 12px;
}

div {
    margin: 0;
    padding: 0;
}

div.row {
    margin: 0 auto;
    align-content: center;
}

#query-system {
    border: 1px solid #d3d3d3;
    padding: 7px 7px 7px 7px;
    margin: 10px 0px 10px 0px;
}

.container .content {
    padding: 5px;
}

.shadow-box {
    margin: 4px 4px 4px 4px;
    display: block;
    background-color: #ffffff;
    border: 1px solid #d3d3d3;
}

form {
    display: block;
    left: 10px;
    top: 10px;
    background: transparent;
}

input {
    display: inline;
    width: 80px;
}

.select {
    background: white;
    border: 1px solid #d3d3d3;
    padding: 10px 20px;
    min-width: 120px;
    max-width: 200px;
    font-size: 15px;
    margin: 20px 10px 20px 0;
    color: #6c5c70;
    text-align: center;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
