/** Main page stuff **/

body {
    font-family: Helvetica, "Helvetica Neue", sans-serif;
    margin: 0;
    padding: 0;
    border: 0;
    background-color: rgba(255, 247, 255, 0.85);
}

h1 {
    text-align: center;
    color: #413F4A;
    font-family: Helvetica, "Helvetica Neue", sans-serif;
    font-size: 45px;
    line-height: 48px;
    margin: 0;
    padding: 5px;
}

h2 {
    text-align: center;
    color: #413F4A;
    font-family: Helvetica, "Helvetica Neue", sans-serif;
    font-size: 25px;
    line-height: 48px;
    margin: 0;
    padding: 5px;
}

text {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    pointer-events: none;
    font-size: 15px;
}

div {
    margin: 0;
    padding: 0;
}

div.row {
    margin: 0 auto;
    align-content: center;
}

#query-system {
    border: 1px solid #d3d3d3;
    padding: 7px 7px 7px 7px;
    margin: 10px 0px 10px 0px;
}

.container .content {
    padding: 5px;
}

.shadow-box {
    margin: 4px 4px 4px 4px;
    display: block;
    background-color: #ffffff;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(43, 102, 154, 0.38);
}

form {
    display: block;
    left: 10px;
    top: 10px;
    background: transparent;
}

input {
    display: inline;
    width: 80px;
}

.select {
    background: white;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(43, 102, 154, 0.38);
    padding: 10px 20px;
    min-width: 120px;
    max-width: 200px;
    font-size: 15px;
    margin: 20px 10px 20px 0;
    color: #6c5c70;
    text-align: center;
}
