$font-stack: helvetica;
$bg-color: rgba(255, 255, 255, 0.9);
$secondary-color : #e8f0ff;
$header-color: #141a29;

/* General Website */

body {
  font-family: $font-stack;
  margin: 0;
  padding: 0;
  border: 0;
  background-color: $bg-color;
}

h1 {
  color: $header-color;
  font-family: 'Raleway', sans-serif;
  font-size: 62px;
  font-weight: 800;
  line-height: 72px;
  margin: 0 0 0 0;
  text-align: center;
}

button {
  max-height: 40px;
}

#button {
  text-align: center;
  margin: 0 0 0 0;
}

#query-system {
  padding: 0;
  margin: 0px 0px 10px 0px;
}

#query-interface-graph {
  padding: 0;
  margin: 0px 0px 10px 0px;
  background: $secondary-color;
}

#nav-menu {
  margin: 0;
  padding: 0;

  li.active a {
    background: $secondary-color;
  }
}

.content {
  display: none;
}

.tab-content {
  background: $secondary-color;
  h3 {
    margin: 0;
    padding: 10px 10px 10px 10px;
  }
  padding: 0 10px 10px 10px;
}