/** Main page stuff **/

/* general stuff */

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
    border: 0;
    background-color: rgba(255, 255, 255, 0.9);
}

.spinner {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -50px; /* half width of the spinner gif */
    margin-top: -50px; /* half height of the spinner gif */
    text-align:center;
    z-index:1234;
    overflow: auto;
}

h1 { 
    text-align: center;
    color: #413F4A; 
    font-family: 'Trocchi', serif; font-size: 45px;
    font-weight: bold; 
    line-height: 48px; 
    margin: 0;
    padding: 5px;
}

h2 {
    text-align: center;
    color: #413F4A;
    font-family: 'Trocchi', serif; font-size: 25px;
    font-weight: bold;
    line-height: 48px;
    margin: 0;
    padding: 5px;
}

text {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    pointer-events: none;
    font-size: 19px;
}

div {
    margin: 0;
    padding: 0;
}

div.row {
    margin: 0 auto;
    align-content: center;
}

button {
    text-align: center;
}

.navbar-static-top {
    padding: 5px;
    margin: 0 auto;
}


#query-system {
    border:1px solid #d3d3d3;
    padding: 7px 7px 7px 7px;
    margin: 10px 0px 10px 0px;
}


.container .content {
    padding : 5px;
}


/* svg background and effects */

.shadow-box{
    display: block;
    margin: auto;
    background-color: #ffffff;
    -webkit-box-shadow: 0 0 67px 8px rgba(0,0,0,0.10);
    -moz-box-shadow: 0 0 67px 8px rgba(0,0,0,0.10);
    box-shadow: 0 0 67px 8px rgba(0,0,0,0.10);
}

/*
.grid-svg {
    background-image: url('../img/noisy_grid.png');
    background-repeat: repeat;
}*/

/* general form stuff */

form {
    display: block;
    left: 10px;
    top: 10px;
    background: transparent;
}

input {
    display: inline;
    width: 80px;
}

.select {
    border: none;
    border-color: transparent;
    background: white;
    padding: 10px 20px;
    min-width: 120px;
    font-size: 18px;
    margin: 20px 10px 20px 0;
    color: #6c5c70;
    text-align: center;
}
