<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Portinari</title>

    <link rel="stylesheet" type="text/css" href="../static/css/external/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../static/css/external/bootstrap-theme.min.css">

    <link rel="stylesheet" type="text/css" href="../static/css/style.css"/>
    <link rel="stylesheet" type="text/css" href="../static/css/query_form.css"/>
    <link rel="stylesheet" type="text/css" href="../static/css/query_graph.css"/>
    <link rel="stylesheet" type="text/css" href="../static/css/pred_form.css"/>
    <link rel="stylesheet" type="text/css" href="../static/css/pred_graph.css"/>

</head>

<body>

<div id="spinner" class="spinner" style="display:none;">
    <img id="img-spinner" src="../static/img/spinner.gif" alt="Loading"/>
</div>

<div class="container-fluid">

    <nav class="navbar navbar-default navbar-static-top">

        <h1>.portinari</h1>
    </nav>


    <div class="col-md-12 container" id="query-system">

        <button type="button" class="btn btn-default" id="expand-button">Query System</button>

        <div id="query-toggle" class="col-md-12 content">

            <div class="row">

                <div class="col-md-6" id="div-left">
                    <div id="query-interface-graph"></div>

                </div>

                <div class="col-md-6" id="div-right">
                    <div id="query-interface-current">
                        <ul></ul>
                    </div>

                    <div class="shadow-box">
                        <h2>constraints form</h2>

                        <div id="query-interface-form"></div>
                    </div>


                    <div class="shadow-box">
                        <h2>query form</h2>

                        <div id="form-future-nodes"></div>
                    </div>
                </div>
            </div>

        </div>

    </div>

    <div class="row">
        <div class="col-md-6" id="div-left">
            <div id="query-results1"></div>
        </div>

        <div class="col-md-6" id="div-right">
            <div id="query-results2"></div>
        </div>
    </div>

</div>

<script src="../static/js/bundle.js"></script>
</body>

</html>