<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Portinari</title>
    <meta name="description" content="Data Visualization Tool for Analyzing Screening Data">
    <meta name="author" content="Manoel Horta Ribeiro">
    <script src="../static/js/external/jquery.min.js"></script>
    <script src="../static/js/external/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../static/css/external/pace-theme-corner-indicator.tmpl.css">

    <link rel="stylesheet" type="text/css" href="../static/css/external/normalize.css">
    <link rel="stylesheet" type="text/css" href="../static/css/external/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../static/css/external/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="../static/css/public/style.css">

    <link rel="icon" type="image/png" href="favicon-32x32.png" sizes="32x32"/>
    <link rel="icon" type="image/png" href="favicon-16x16.png" sizes="16x16"/>

</head>

<body>

<div id="loader_d">
    <h1><img src="../static/imgs/portinari.png" alt="logo" height=100px/> portinari
    </h1>
</div>

<div id="content_d">

    <!-- Query System -->
    <div class="col-md-12 col-xs-12" id="upper-interface">

        <div class="col-md-3 col-xs-3" id="query-form">
            <div id="settings">
                <!-- the settings options are here -->
            </div>

            <div id="add-constraints">
                <div id="query-local-interface-form" class="form">
                    <!-- the form to add constraints goes here -->
                </div>
            </div>

            <div id="visualize-cohort">
                <!-- the graph to visualize constraints goes here -->
            </div>
        </div>

        <div class="col-md-9 col-xs-9" id="visual-query-maker">
            <div id="query-graph">
                <!-- query interface goes here goes here -->
            </div>
        </div>

    </div>


    <!--&lt;!&ndash; Knowledge Discovery System &ndash;&gt;-->
    <!--<div class="col-md-12 col-xs-12" id="lower-interface">-->

        <!--<div class="col-md-3 col-xs-3" id="method-form">-->
            <!--<div id="method-choice">-->
            <!--</div>-->
            <!--<div id="method-options">-->
            <!--</div>-->

        <!--</div>-->

        <!--<div class="col-md-9 col-xs-9" id="method-output">-->

        <!--</div>-->


        <!--<h2>get cohort</h2>-->
        <!--<div id="form-get-cohort" class="form">-->
        <!--&lt;!&ndash; gets the sankey diagram, possibly some visualization option &ndash;&gt;-->
        <!--</div>-->

        <!--<h2>nodes info</h2>-->
        <!--<div id="nodes-info-cohort" class="current">-->
        <!--<ul></ul>-->
        <!--&lt;!&ndash; show information about the selected nodes &ndash;&gt;-->
        <!--</div>-->

        <!--<h2>mine patterns</h2>-->
        <!--<div id="get-patterns-cohort" class="form">-->
        <!--&lt;!&ndash; presents option for mining patterns &ndash;&gt;-->
        <!--</div>-->

        <!--<h2>show patterns</h2>-->
        <!--<div id="show-patterns-cohort" class="current">-->
        <!--<ul></ul>-->
        <!--&lt;!&ndash; present mined patterns &ndash;&gt;-->
        <!--</div>-->
    </div>


    <!--<div id="cohort-result"></div>-->


</div>

</div>

<!--&lt;!&ndash; Navigation Tabs &ndash;&gt;-->
<!--<ul class="nav nav-tabs" id="nav-menu">-->
<!--<li><h2><a data-toggle="tab" href="#vis-coh">Visualize Cohort</a></h2></li>-->
<!--<li><h2><a data-toggle="tab" href="#vis-prog">Visualize Prognosis</a></h2></li>-->
<!--<li><h2><a data-toggle="tab" href="#settings">Settings</a></h2></li>-->
<!--&lt;!&ndash; <li><a data-toggle="tab" href="#compare">Compare</a></li> &ndash;&gt;-->
<!--&lt;!&ndash; <li><a data-toggle="tab" href="#mine">Mine</a></li> &ndash;&gt;-->
<!--</ul>-->

<!--&lt;!&ndash; Navigation Contents &ndash;&gt;-->
<!--<div class="tab-content">-->
<!--<div id="vis-coh" class="tab-pane fade col-md-12">-->
<!--<div class="col-md-4" id="cohort-edit">-->

<!--<h2>get cohort</h2>-->
<!--<div id="form-get-cohort" class="form">-->
<!--&lt;!&ndash; gets the sankey diagram, possibly some visualization option &ndash;&gt;-->
<!--</div>-->

<!--<h2>nodes info</h2>-->
<!--<div id="nodes-info-cohort" class="current">-->
<!--<ul></ul>-->
<!--&lt;!&ndash; show information about the selected nodes &ndash;&gt;-->
<!--</div>-->

<!--<h2>mine patterns</h2>-->
<!--<div id="get-patterns-cohort" class="form">-->
<!--&lt;!&ndash; presents option for mining patterns &ndash;&gt;-->
<!--</div>-->

<!--<h2>show patterns</h2>-->
<!--<div id="show-patterns-cohort" class="current">-->
<!--<ul></ul>-->
<!--&lt;!&ndash; present mined patterns &ndash;&gt;-->
<!--</div>-->

<!--</div>-->
<!--<div class="col-md-8">-->
<!--<div id="cohort-result"></div>-->
<!--</div>-->

<!--</div>-->
<!--<div id="vis-prog" class="tab-pane fade col-md-12"></div>-->
<!--<div id="settings" class="tab-pane fade col-md-12">-->
<!--<div class="col-md-4">-->
<!--<h2>select dataset</h2>-->
<!--<div id="dataset-choice" class="form">-->
<!--&lt;!&ndash; here we choose the dataset we will use here &ndash;&gt;-->
<!--</div>-->
<!--</div>-->

<!--<div class="col-md-4">-->

<!--<h2>select matching</h2>-->
<!--<div id="matching-choice" class="form">-->
<!--&lt;!&ndash; here we choose the matching algorithm to use &ndash;&gt;-->
<!--</div>-->
<!--</div>-->

<!--<div class="col-md-4">-->
<!--<h2>acknowledgments</h2>-->
<!--<p>Portinari was developed as a joint project between the <i>Cancer Registry of Norway</i>, <i>Simula-->
<!--School</i> of Innovation and Research and <i>Universidade Federal de Minas Gerais</i>.</p>-->
<!--</div>-->
<!--</div>-->
<!--&lt;!&ndash;<div id="compare" class="tab-pane fade"> </div> &ndash;&gt;-->
<!--&lt;!&ndash; <div id="mine" class="tab-pane fade"> </div> &ndash;&gt;-->
<!--</div>-->

<!-- Where magic happens! -->
<script src="../static/js/public/bundle.js"></script>
</div>
</body>
</html>