<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Portinari</title>
    <meta name="description" content="Data Visualization Tool for Analyzing Screening Data">
    <meta name="author" content="Manoel Horta Ribeiro">
    <script src="../static/js/external/jquery.min.js"></script>
    <script src="../static/js/external/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../static/css/external/pace-theme-corner-indicator.tmpl.css">

    <link rel="stylesheet" type="text/css" href="../static/css/external/normalize.css">
    <link rel="stylesheet" type="text/css" href="../static/css/external/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../static/css/external/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="../static/css/public/style.css">

    <link rel="icon" type="image/png" href="favicon-32x32.png" sizes="32x32"/>
    <link rel="icon" type="image/png" href="favicon-16x16.png" sizes="16x16"/>

</head>

<body>

<div id="loader_d">
    <h1><img src="../static/imgs/portinari.png" alt="logo" height=100px /> portinari
    </h1>

</div>

<div id="content_d">

    <!-- Title -->
    <!--------------------->
    <!-- UPPER INTERFACE -->
    <!--------------------->

    <!-- Query System -->
    <div id="query-system" class="col-md-12">

        <div id="forms-menu" class="col-md-4">

            <h2>choose dataset</h2>
            <div id="dataset-choice" class="form">
                <!-- here we choose the dataset we will use here -->
                <ul></ul>
            </div>

            <h2>matching</h2>
            <div id="matching-choice" class="form">
                <!-- here we choose the matching algorithm to use -->
                <ul></ul>
            </div>

            <h2>view local constraints</h2>
            <div id="query-local-interface-current" class="current">
                <!-- information about the selected node goes here -->
                <ul></ul>
            </div>

            <h2>add local constraints</h2>
            <div id="query-local-interface-form" class="form">
                <!-- the form to add constraints goes here -->
            </div>

            <h2>view global constraints</h2>
            <div id="query-global-interface-current" class="current">
                <!-- information about the selected node goes here -->
                <ul></ul>
            </div>

            <h2>add global constraints</h2>
            <div id="query-global-interface-form" class="form">
                <!-- the form to add constraints goes here -->
            </div>

            <h2>view outcomes</h2>
            <div id="query-outcomes-current" class="current">
                <!-- information about the selected node goes here -->
                <ul></ul>
            </div>

            <h2>select outcomes</h2>
            <div id="query-outcomes-form" class="form">
                <!-- the form to add constraints goes here -->
            </div>

        </div>


        <div id="query-interface-graph" class="col-md-8">

            <div id="query-menu">
                <button type="button" class="btn btn-default btn-xs" id="settings-button">
                    <img src="./icons/settings.svg" alt="Settings" width="15px" height="15px" class="Icon">
                    Settings
                </button>
                <button type="button" class="btn btn-default btn-xs" id="download-button">
                    <img src="./icons/download.svg" alt="Download" width="15px" height="15px" class="Icon">
                    Download
                </button>
                <button type="button" class="btn btn-default btn-xs" id="upload-button">
                    <img src="./icons/upload.svg" alt="Upload" width="15px" height="15px" class="Icon">
                    Upload
                </button>
                <button type="button" class="btn btn-default btn-xs" id="minus-button">
                    <img src="./icons/minus.svg" alt="Remove node" width="15px" height="15px" class="Icon">
                    Remove Node
                </button>
                <button type="button" class="btn btn-default btn-xs" id="plus-button">
                    <img src="./icons/plus.svg" alt="Edit node" width="15px" height="15px" class="Icon">
                    Add Node
                </button>
                <button type="button" class="btn btn-default btn-xs" id="constraints-button">
                    <img src="./icons/constraints.svg" alt="Edit constraints" width="15px" height="15px" class="Icon">
                    Edit constraints
                </button>
                <button type="button" class="btn btn-default btn-xs" id="global-button">
                    <img src="./icons/global.svg" alt="Global constraints" width="15px" height="15px" class="Icon">
                    Edit Globals
                </button>
                <button type="button" class="btn btn-default btn-xs" id="outcome-button">
                    <img src="./icons/outcome.svg" alt="Define outcome" width="15px" height="15px" class="Icon">
                    Edit Outcomes
                </button>
            </div>

            <!-- query interface goes here goes here -->
        </div>
    </div>

    <!-- TODO: Tutorial -->

    <!-- TODO: About -->

    <br>

    <!--------------------->
    <!-- LOWER INTERFACE -->
    <!--------------------->

    <!-- Navigation Tabs -->
    <ul class="nav nav-tabs" id="nav-menu">
        <li class="active"><a data-toggle="tab" href="#vis-prog">Visualize Cohort</a></li>
        <!-- TODO as I implement these functionalities on the backend -->
        <!-- <li><a data-toggle="tab" href="#vis-coh">Visualize Cohort</a></li> -->
        <!-- <li><a data-toggle="tab" href="#compare">Compare</a></li> -->
        <!-- <li><a data-toggle="tab" href="#mine">Mine</a></li> -->
    </ul>

    <!-- Navigation Contents -->
    <div class="tab-content">
        <div id="vis-prog" class="tab-pane fade in active cohort">
            <div class="col-md-4" id="cohort-edit">

                <h2>get cohort</h2>
                <div id="form-get-cohort" class="form">
                    <!-- gets the sankey diagram, possibly some visualization option -->
                </div>

                <h2>nodes info</h2>
                <div id="nodes-info-cohort" class="current">
                    <ul></ul>
                    <!-- show information about the selected nodes -->
                </div>

                <h2>mine patterns</h2>
                <div id="get-patterns-cohort" class="form">
                    <!-- presents option for mining patterns -->
                </div>

                <h2>show patterns</h2>
                <div id="show-patterns-cohort" class="current">
                    <ul></ul>
                    <!-- present mined patterns -->
                </div>

            </div>
            <div class="col-md-8">
                <div id="cohort-result"></div>
            </div>

        </div>
        <!-- TODO as I implement these functionalities on the backend -->
        <!-- <div id="vis-coh" class="tab-pane fade"> </div> -->
        <!-- <div id="compare" class="tab-pane fade"> </div> -->
        <!-- <div id="mine" class="tab-pane fade"> </div> -->
    </div>

    <!-- TODO: Footer -->

    <!-- Where magic happens! -->

    <script src="../static/js/public/bundle.js"></script>
</div>
</body>
</html>