@import url("https://fonts.googleapis.com/css?family=Lato|Raleway|Roboto");
/* Fonts */
/* Colors */
/* Node Variables */
/* Link Variables */
/* Forms */
/* -- General Website -- */
/* Center the loader */
#loader_d {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  display: block;
  width: 700px;
  margin: auto; }

#content_d {
  margin: 0;
  padding: 0;
  opacity: 0;
  transition: opacity 1s; }

html, body {
  position: relative;
  height: 100%;
  width: 100%; }

body {
  font-family: "Roboto", sans-serif;
  background-color: rgba(255, 255, 255, 0.9);
  margin: 0;
  padding: 0;
  border: 0; }
  body p {
    font-family: "Roboto", sans-serif;
    font-size: 10px;
    margin: 0;
    padding: 0;
    border: 0; }
  body h1 {
    color: #212121;
    font-family: "Raleway", sans-serif;
    font-size: 62px;
    text-align: center; }
  body h2 {
    font-family: "Lato", sans-serif;
    color: #9E9E9E;
    font-size: 10px;
    margin: 0;
    padding: 0;
    border: 0; }
  body button {
    margin: 0;
    padding: 0;
    max-height: 40px; }
  body text {
    font-family: "Lato", sans-serif;
    font-size: 16px;
    font-weight: 800;
    text-transform: uppercase;
    pointer-events: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
  body svg {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 0;
    margin: 0; }
  body div {
    padding: 0;
    margin: 0; }
  body ul {
    margin: 0;
    padding: 0; }
  body #nav-menu li.active a {
    background: #004D40; }
  body .col-md-4 {
    margin: 0;
    padding: 0; }
  body .col-md-8 {
    margin: 0;
    padding: 0; }
  body .form {
    min-height: 40px;
    background-color: rgba(255, 255, 255, 0.9);
    border: solid lightgrey 1px;
    margin: 3px 3px 3px 3px; }
    body .form form {
      text-align: center;
      margin: 3px 3px 3px 3px; }
    body .form select {
      margin: 3px 3px 3px 3px; }
    body .form select:hover {
      background-color: #004D40; }
    body .form input {
      margin: 3px 3px 3px 3px;
      display: inline;
      background-color: #004D40; }
    body .form .styled_form {
      background: rgba(255, 255, 255, 0.9);
      padding: 10px 20px;
      font-size: 10px;
      margin: 3px 3px 3px 3px;
      color: #6c5c70;
      text-align: center;
      border: solid lightgrey 1px; }
  body .current {
    min-height: 40px;
    background-color: rgba(255, 255, 255, 0.9);
    border: solid lightgrey 1px;
    margin: 3px 3px 3px 3px; }
    body .current ul {
      list-style: none;
      text-align: center; }
    body .current li {
      background-color: #004D40;
      font-size: 10px;
      font-family: "Roboto", sans-serif;
      display: inline-block;
      border: solid lightgrey 1px;
      color: #202020;
      max-width: 250px;
      padding: 7px;
      margin: 10px;
      text-align: center; }
    body .current li:hover {
      background-color: #0c0c0e; }

/* - Query Menu */
#query-system #query-interface-graph {
  padding: 3px 0 0 0;
  margin: 0; }
  #query-system #query-interface-graph #query-menu {
    text-align: center;
    margin: 0;
    padding: 0; }
    #query-system #query-interface-graph #query-menu .btn {
      min-height: 15px; }
  #query-system #query-interface-graph svg {
    display: inline;
    border: solid lightgrey 1px;
    margin: 3px 3px 3px 3px;
    /* nodes */
    /* edges */
    /* text */ }
    #query-system #query-interface-graph svg .Tick {
      fill: #0c0c0e; }
    #query-system #query-interface-graph svg .Node .MainCircle {
      fill: #0c0c0e; }
    #query-system #query-interface-graph svg .Node .MainCircle:hover {
      fill: #235581;
      stroke: #202020;
      stroke-width: 2px; }
    #query-system #query-interface-graph svg .Node .MainCircle.selected {
      fill: #235581;
      stroke: #202020;
      stroke-width: 2px; }
    #query-system #query-interface-graph svg .Node .AddButton {
      fill: #235581; }
    #query-system #query-interface-graph svg .link {
      stroke: #402D29;
      stroke-width: 4px; }
    #query-system #query-interface-graph svg .selected path.link {
      stroke: #413F4A;
      fill: #413F4A;
      stroke-width: 6px; }
    #query-system #query-interface-graph svg #end-arrow {
      stroke: #413F4A;
      fill: #413F4A; }
    #query-system #query-interface-graph svg .InTextN text {
      fill: white; }
    #query-system #query-interface-graph svg .OuTextN text {
      fill: rgba(12, 12, 14, 0.9); }
    #query-system #query-interface-graph svg .InTextE text {
      fill: rgba(12, 12, 14, 0.9); }
    #query-system #query-interface-graph svg .OuTextE text {
      fill: rgba(12, 12, 14, 0.9); }
#query-system #forms-menu {
  height: 100%;
  background-color: #004D40;
  display: none; }
  #query-system #forms-menu p {
    line-height: 40px;
    text-align: center;
    opacity: 0.5; }

/* -- Sankey -- */
#cohort-result .node rect {
  fill-opacity: .9;
  shape-rendering: crispEdges; }
#cohort-result .node text {
  pointer-events: none;
  text-shadow: 0 1px 0 #fff; }
#cohort-result .link {
  fill: none;
  stroke: #000;
  stroke-opacity: .2; }
#cohort-result .link:hover {
  stroke-opacity: .5; }

#cohort-edit {
  height: 100%;
  padding: 10px;
  background-color: #004D40; }
  #cohort-edit p {
    line-height: 40px;
    text-align: center;
    opacity: 0.5; }

/*# sourceMappingURL=style.css.map */
