@import url("https://fonts.googleapis.com/css?family=Lato|Raleway|Roboto");
/* Fonts */
/* Colors */
/* Border */
/* Node Variables */
/* Link Variables */
/* Forms */
@import url("https://fonts.googleapis.com/css?family=Lato|Raleway|Roboto");
@import url("https://fonts.googleapis.com/css?family=Lato|Raleway|Roboto");
html, body {
  position: relative;
  height: 100%;
  width: 100%; }

/* Resets box model */
body, div, svg, ul, h1, h2, p, text, button, .col-md-4, .col-md-8, .col-md-12 .col-xs-4, .col-xs-8, .col-xs-12 {
  margin: 0;
  padding: 0;
  border: 0; }

#loader_d {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  display: block;
  width: 700px;
  margin: auto;
  text-align: center; }

#content_d {
  opacity: 0; }

/* Fonts */
/* Colors */
/* Border */
/* Node Variables */
/* Link Variables */
/* Forms */
h1, h2, p, select, option, input, text {
  user-select: none;
  -webkit-user-select: none;
  /* Chrome/Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+ */ }

a:active, a:hover, a:visited, li.active a, a:focus {
  color: inherit;
  text-decoration: none;
  outline: none; }

h1 {
  color: #212121;
  font-family: "Raleway", sans-serif;
  font-size: 60px; }

h2 {
  font-family: "Lato", sans-serif;
  color: #00695C;
  font-size: 14px;
  text-transform: uppercase;
  padding-left: 8px; }

p {
  font-family: "Roboto", sans-serif;
  font-size: 11px;
  color: #616161; }

text {
  font-family: "Lato", sans-serif;
  font-size: 12px;
  text-transform: uppercase; }

li {
  border: solid rgba(232, 234, 246, 0.8) 2px;
  padding: 5px;
  margin: 5px;
  font-family: "Roboto", sans-serif;
  font-size: 11px;
  color: #616161;
  max-width: 200px;
  display: inline-block; }

/* Fonts */
/* Colors */
/* Border */
/* Node Variables */
/* Link Variables */
/* Forms */
body {
  background-color: #FFFFFF; }

svg {
  background-color: rgba(232, 234, 246, 0.35);
  margin: 3px 3px 3px 3px; }

/* Colors */
/* Node Variables */
/* Link Variables */
/* Forms */
/* -- General Website -- */
/* Center the loader */
body button {
  max-height: 40px; }
body .tab-content {
  background: #e8f0ff;
  padding: 3px 3px 3px 3px; }
body .form {
  min-height: 40px;
  border: solid rgba(232, 234, 246, 0.8) 2px;
  margin: 3px 3px 3px 3px; }
  body .form form {
    text-align: center;
    margin: 3px 3px 3px 3px; }
  body .form select {
    margin: 3px 3px 3px 3px; }
  body .form select:hover {
    background-color: #e8f0ff; }
  body .form input {
    margin: 3px 3px 3px 3px;
    display: inline;
    background-color: #e8f0ff; }
  body .form .styled_form {
    background: rgba(255, 255, 255, 0.9);
    padding: 10px 20px;
    font-size: 10px;
    margin: 3px 3px 3px 3px;
    color: #6c5c70;
    text-align: center;
    border: solid rgba(232, 234, 246, 0.8) 2px; }
body .current {
  height: 60px;
  background-color: rgba(255, 255, 255, 0.9);
  border: solid rgba(232, 234, 246, 0.8) 2px;
  margin: 3px 3px 3px 3px;
  overflow-y: scroll; }
  body .current ul {
    list-style: none;
    text-align: center; }
  body .current li:hover {
    background-color: #2aabd2; }

/* - Query Menu */
#query-system {
  margin: 3px 3px 3px 3px;
  padding: 0; }
  #query-system #query-interface-graph svg {
    display: inline;
    background-color: white;
    border: solid rgba(232, 234, 246, 0.8) 2px;
    margin: 3px 3px 3px 3px;
    /* nodes */
    /* edges */
    /* text */ }
    #query-system #query-interface-graph svg .Node {
      fill: #2aabd2; }
    #query-system #query-interface-graph svg .Node:hover {
      fill: #235581;
      stroke: #202020;
      stroke-width: 2px; }
    #query-system #query-interface-graph svg .Node.selected {
      fill: #235581;
      stroke: #202020;
      stroke-width: 2px; }
    #query-system #query-interface-graph svg .link {
      stroke: #402D29;
      stroke-width: 4px; }
    #query-system #query-interface-graph svg .selected path.link {
      stroke: #413F4A;
      fill: #413F4A;
      stroke-width: 6px; }
    #query-system #query-interface-graph svg #end-arrow {
      stroke: #413F4A;
      fill: #413F4A; }
    #query-system #query-interface-graph svg .InTextN text {
      fill: white; }
    #query-system #query-interface-graph svg .OuTextN text {
      fill: rgba(12, 12, 14, 0.9); }
    #query-system #query-interface-graph svg .InTextE text {
      fill: rgba(12, 12, 14, 0.9); }
    #query-system #query-interface-graph svg .OuTextE text {
      fill: rgba(12, 12, 14, 0.9); }
  #query-system #forms-menu p {
    line-height: 40px;
    text-align: center; }

/* -- Sankey -- */
#cohort-result .node rect {
  fill-opacity: .9;
  shape-rendering: crispEdges; }
#cohort-result .node text {
  pointer-events: none;
  text-shadow: 0 1px 0 #fff; }
#cohort-result .link {
  fill: none;
  stroke: #000;
  stroke-opacity: .2; }
#cohort-result .link:hover {
  stroke-opacity: .5; }

#cohort-edit {
  height: 100%;
  padding: 10px;
  background-color: #e8f0ff; }
  #cohort-edit p {
    line-height: 40px;
    text-align: center;
    opacity: 0.5; }

/*# sourceMappingURL=style.css.map */
