@import url("https://fonts.googleapis.com/css?family=Lato|Raleway|Roboto");
/* Fonts */
/* Colors */
/* Border */
/* Node Variables */
/* Link Variables */
/* Forms */
@import url("https://fonts.googleapis.com/css?family=Lato|Raleway|Roboto");
/* Fonts */
/* Colors */
/* Border */
/* Node Variables */
/* Link Variables */
/* Forms */
html {
  position: relative;
  height: 100%;
  width: 100%; }

body {
  background-color: #FFFFFF;
  margin: 0;
  padding: 0;
  border: 0;
  position: relative;
  height: 100%;
  width: 100%;
  font-family: "Roboto", sans-serif;
  font-size: 11px;
  color: #616161; }

div {
  padding: 0;
  margin: 0;
  border: 0; }

svg {
  background-color: solid #9E9E9E 2px;
  margin: 0;
  padding: 0; }

h1 {
  color: #212121;
  font-family: "Raleway", sans-serif;
  font-size: 62px;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
  /* Chrome/Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+ */ }

h2 {
  font-family: "Lato", sans-serif;
  color: #9E9E9E;
  font-size: 18px;
  margin: 0;
  padding: 0;
  border: 0;
  user-select: none;
  -webkit-user-select: none;
  /* Chrome/Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+ */ }

ul {
  margin: 0;
  padding: 0;
  border: 0; }

a {
  color: inherit;
  text-decoration: none; }

a:active, a:hover, a:visited, li.active a, a:focus {
  color: #212121;
  text-decoration: none;
  outline: none; }

p {
  font-family: "Roboto", sans-serif;
  font-size: 11px;
  color: #616161;
  margin: 0;
  padding: 0;
  border: 0;
  user-select: none;
  -webkit-user-select: none;
  /* Chrome/Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+ */ }

li {
  padding: 10px;
  font-family: "Roboto", sans-serif;
  font-size: 11px;
  color: #616161; }

text {
  -webkit-user-select: none;
  /* Chrome/Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+ */ }

select, option, input {
  background: #FFFFFF;
  margin: 3px 3px 3px 3px;
  max-height: 30px;
  max-width: 200px;
  min-height: 30px;
  min-width: 50px;
  text-align: center;
  -webkit-user-select: none;
  /* Chrome/Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+ */ }

.col-md-3 {
  margin: 0;
  padding: 0;
  border: 0; }

.col-md-9 {
  margin: 0;
  padding: 0;
  border: 0; }

.form {
  min-height: 50px; }

.current {
  min-height: 35px; }
  .current ul {
    list-style: none;
    text-align: center; }
  .current li {
    font-size: 11px;
    font-family: "Roboto", sans-serif;
    display: inline-block;
    border: solid #9E9E9E 2px;
    max-width: 200px;
    padding: 5px;
    margin: 5px;
    text-align: center; }
  .current li:hover {
    background-color: #9E9E9E; }

/* Loader */
#loader_d {
  transform: translateY(-50%);
  position: relative;
  top: 50%;
  display: block;
  width: 700px;
  margin: auto; }

#content_d {
  border: solid #9E9E9E 2px;
  padding: 0;
  transform: translateY(-50%);
  position: relative;
  top: 50%;
  display: block;
  opacity: 0;
  width: 95%;
  height: 95%;
  margin: 0 auto;
  overflow: hidden; }

/* - Upper Interface */
#query-system {
  margin: 0;
  padding: 0;
  height: 50%; }
  #query-system #query-interface-graph {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    /* nodes */
    /* edges */
    /* text */ }
    #query-system #query-interface-graph .Node {
      fill: #3f51b5; }
    #query-system #query-interface-graph .Node:hover {
      fill: #235581;
      stroke: #00bcd4;
      stroke-width: 5px; }
    #query-system #query-interface-graph .Node.selected {
      fill: #235581;
      stroke: #00bcd4;
      stroke-width: 5px; }
    #query-system #query-interface-graph .link {
      stroke: #402D29;
      stroke-width: 8px; }
    #query-system #query-interface-graph .selected path.link {
      stroke: #413F4A;
      fill: #413F4A;
      stroke-width: 10px; }
    #query-system #query-interface-graph #end-arrow {
      stroke: #413F4A;
      fill: #413F4A; }
    #query-system #query-interface-graph .InTextN text {
      fill: white; }
    #query-system #query-interface-graph .OuTextN text {
      fill: rgba(12, 12, 14, 0.9); }
    #query-system #query-interface-graph .InTextE text {
      fill: rgba(12, 12, 14, 0.9); }
    #query-system #query-interface-graph .OuTextE text {
      fill: rgba(12, 12, 14, 0.9); }
  #query-system #forms-menu {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    text-align: center; }

/* - Lower Interface */
/* -- Sankey -- */
.tab-pane {
  margin: 3px;
  padding: 6px;
  border: solid #9E9E9E 2px; }
  .tab-pane #cohort-result .node rect {
    fill-opacity: .9;
    shape-rendering: crispEdges; }
  .tab-pane #cohort-result .node text {
    pointer-events: none;
    text-shadow: 0 1px 0 #fff; }
  .tab-pane #cohort-result .link {
    fill: none;
    stroke: #000;
    stroke-opacity: .2; }
  .tab-pane #cohort-result .link:hover {
    stroke-opacity: .5; }
  .tab-pane #cohort-edit {
    height: 100%;
    padding: 6px;
    text-align: center; }
    .tab-pane #cohort-edit p {
      line-height: 40px;
      text-align: center;
      opacity: 0.5; }

/*# sourceMappingURL=style.css.map */
